In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns

In [13]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
# 1-a
iris.groupby('species').describe()

           sepal_length                                              \
                  count   mean       std  min    25%  50%  75%  max
species
setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           sepal_width         ... petal_length      petal_width         \
                 count   mean  ...          75%  max       count   mean
species                        ...
setosa            50.0  3.428  ...        1.575  1.9        50.0  0.246
versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                 std  min  25%  50%  75%  max
species
setosa      0.105386  0.1  0.2  0.2  0.3  0.6
versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [5]:
# 1-b
# Q1 - 1.5 * (Q3 - Q1)보다 작은 데이터, Q3 + 1.5 * (Q3 - Q1)보다 큰 데이터는 이상치
s = iris[iris.species == 'setosa']['sepal_length']
Q1 = s.quantile(0.25)
Q3 = s.quantile(0.75)

In [10]:
# 이상치 제거
lo = Q1 - 1.5 * (Q3 - Q1)
up = Q3 + 1.5 * (Q3 - Q1)
s[(s<lo)|(s>up)] = np.nan
# 종별로 꽃잎길이, 꽃잎폭, 꽃받침길이, 꽃받침폭의 평균과 표준편차 구하기
s.mean(), s.std()

(5.005999999999999, 0.3524896872134512)

In [12]:
def iqr(sp, co):
    s = iris[iris.species == sp][co]
    Q1 = s.quantile(0.25)
    Q3 = s.quantile(0.75)
    lo = Q1 - 1.5 * (Q3 - Q1)
    up = Q3 + 1.5 * (Q3 - Q1)
    s[(s<lo)|(s>up)] = np.nan
    return s.mean(), s.std()

iqr('versicolor', 'sepal_width')

(2.7700000000000005, 0.3137983233784114)

In [16]:
def iqr(k):
    for i in k.iloc[:1][:1]:
        s = k[k.species == i][j]
        Q1 = s.quantile(0.25)
        Q3 = s.quantile(0.75)
        lo = Q1 - 1.5 * (Q3 - Q1)
        up = Q3 + 1.5 * (Q3 - Q1)
        s[(s<lo)|(s>up)] = np.nan
    return s.mean(), s.std()

iqr(iris)

ValueError: too many values to unpack (expected 2)